.git/*
.idea/*
CLRS/CLRS_implementation/.vs/*
CLRS/CLRS_implementation/.vs/*
# Build results
CLRS/CLRS_implementation/[Dd]ebug/
CLRS/CLRS_implementation/[Dd]ebugPublic/
CLRS/CLRS_implementation/[Rr]elease/
CLRS/CLRS_implementation/[Rr]eleases/
CLRS/CLRS_implementation/x64/
CLRS/CLRS_implementation/x86/
CLRS/CLRS_implementation/bld/
CLRS/CLRS_implementation/[Bb]in/
CLRS/CLRS_implementation/[Oo]bj/
CLRS/CLRS_implementation/[Ll]og/
leetcode_python/.idea/*
leetcode_python/.idea/workspace.xml